<!-- header will contain navbar and will be included in all pages -->
<nav
    class="navbar navbar-expand-sm navbar-light bg-light"
>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">E-VOTING PLATFORM</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page"
                        >Home
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="dropdownId"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        >Parties</a
                    >
                    <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownId"
                    >
                        <a class="dropdown-item" href="#"
                            >BJP</a
                        >
                        <a class="dropdown-item" href="#"
                            >Indian Nation Congress</a
                        >
                        <a class="dropdown-item" href="#"
                        >AAP</a
                    >
                    <a class="dropdown-item" href="#"
                    >TMU</a
                >
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#"
                        >Result
                        </a>
                    </li>
            </ul>
            <form class="d-flex my-2 my-lg-0">
                <input
                    class="form-control me-sm-2"
                    type="text"
                    placeholder="Search"
                />
                <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                >
                    Search
                </button>
            </form>
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href="{% url 'party_login' %}" class="nav-link me-5  rounded-3">Party Login</a>
              </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link" title="logout">
                        <i class="fas fa--sign-out-alt"></i>
                    </a>
                </li>
                {% if user.is_superuser %}
                    
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                </li> 
                {% else %}
                <li class="nav-item">
                    <a href="#" class="nav-link" title="dashboard">
                        <i class="fas fa-user"></i>
                    </a>
                {% endif %}
                {% else %}
                <!-- login icon -->
                <li class="nav-item">
                    <a href="{% url 'choose_user' %}" class="nav-link" title="login">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li> 
                <!-- register icon -->
                <li class="nav-item">
                    <a href="{% url 'reg_choose_user' %}" class="nav-link" title="register">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li> 
                {% endif %}
            
        </div>
    </div>
</nav>
